<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="/styles/globalADM.css">
    <link rel="stylesheet" href="/styles/alterar.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Alterar Pedidos</title>

</head>

<body>
    <header>
        <h1>Acesso do administrador</h1>
    </header>
    <main>
        <nav id="nav">
            <div id="openCloseNav">
            </div>
            <ul id="topMenu">
                <li>
                    <a href="lista">
                        <ion-icon name="clipboard-outline"></ion-icon>
                        <p>Pedidos</p>
                    </a>
                </li>
                <li>
                    <a href="realizados">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <p>Pedidos realizados</p>
                    </a>
                </li>
                <li class="page">
                    <a href="alterar">
                        <ion-icon name="create-outline"></ion-icon>
                        <p>Alterar Pedidos</p>
                    </a>
                </li>

            </ul>

            <ul id="bottomMenu">
                <li>
                    <a href="/">
                        <ion-icon name="exit-outline"></ion-icon>
                        <p>sair</p>
                    </a>
                </li>
            </ul>

        </nav>
        <div id="content">
            <h2>Lista de todos os pedidos</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th class="id">Id</th>
                        <th class="pedido">Pedido</th>
                        <th class="endereco">Endereço</th>
                        <th class="telefone">Telefone</th>
                        <th class="telefone">Entrega</th>
                        <th class="lastTable">Status</th>
                        <th class="lastTable">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="request : ${request}">
                        <td class="id" data-th-text="${request.id}">1</td>
                        <td class="pedido" data-th-text="${request.request}"></td>
                        <td class="endereco" data-th-text="${request.adress}"></td>
                        <td class="telefone" data-th-text="${request.phone}"></td>
                        <td class="telefone" data-th-text="${{request.deliveryDate}}"></td>
                        <td class="lastTable" data-th-text="${request.status}"></td>
                        <td class="editar">
                            <form  th:action="@{update}" method="post">
                                <button name="id" th:value="${request.id}">
                                    <ion-icon name="create-outline"></ion-icon>
                                </button>
                            </form>
                            <form  th:action="@{deletar}" method="post">
                                <button name="id" th:value="${request.id}">
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

<script src="../scripts/index.js"></script>
<script src="../../../scripts/header.js"></script>

</html>