<html>
    <head>
        <title>Consulta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2>Consulta ao banco:</h2>
            <form action="bancoconecta" method="post">
                <label for="code">Código:</label>
                <input type="text" id="code" name="code"><br><br>
                <input type="submit" value="Consultar">                                
            </form>   
            <a href="index.html">Voltar para HOME</a>
        </div>
    </body>
</html>
