<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/cadastro.css">
    <link rel="stylesheet" href="/styles/hover/hoverStyles.css">
    <title>Login | Acesse nossas delícias</title>
</head>

<body>
    <section>
        <div id="login">
            <img src="assets/paulaLogo.svg" alt="" class="img">
            <form method="post" action="/cadastro" th:object="${user}">
                <div class="inputArea">
                    <img src="assets/profile.svg" alt="Image de usuário ">
                    <input placeholder="Nome" name="name" th:value="${user.name}" type="text">
                </div>
                <div class="inputArea">
                    <img src="assets/email.svg" alt="Image de usuário ">
                    <input placeholder="Email" name="email" th:value="${user.email}" type="email">
                </div>
                <div class="inputArea">
                    <img src="assets/lock.svg" alt="Image de usuário ">
                    <input placeholder="Senha" name="password" th:value="${user.password}" type="password">
                </div>
                <button type="submit"><a>Cadastro</a></button>
            </form>

            <p>Já possui um cadastro ?</p>
            <a href="/login" class="hover-underline-animation">Login</a>
        </div>
    </section>
</body>

</html>