<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/pedidoSucesso.css">
    <link rel="stylesheet" href="/styles/global.css">
    <title>Sucesso | Paula Doces</title>
</head>
<body>
    <main>
        <h1>Cadastro realizado com sucesso !</h1>
        <img src="assets/joia.png" alt="Joinha beleza?">
        <a href="/pedido">Fazer o pedido</a>
    </main>
</body>
</html>