<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulário do Spring</title>
         <link rel="stylesheet" type="text/css" href="estilo.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${mensagem}"></h1>
        <div>
            <form action="respostaForm" method="post">
                <label for="Nome">Nome:</label>
                <input type="text" id="Nome" name="Nome"><br><br>
                <label for="Email">E-mail:</label>
                <input type="text" id="Email" name="Email"><br><br>
                <label for="code">Id:</label>
                <input type="text" id="code" name="code"><br><br>
                <label for="prof">Profissão:</label>
                <input type="text" id="prof" name="prof"><br><br>
                <label for="trab">Está trabalhando?(true/false)</label>
                <input type="text" id="trab" name="trab"><br><br>
                <input type="submit" value="Cadastrar"><br><br>
            </form>
        </div>
        <div>
            <a href="banco"> Consultar banco MySQL</a><br>
        </div>
        <div>
            <a href="bancoM"> Consultar banco Mongo DB</a><br>
        </div>
    </body>
</html>
