<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/hover/hoverStyles.css">
    <title>Login | Acesse nossas delícias</title>
</head>

<body>
    <section>
        <div id="login">
            <img src="assets/paulaLogo.svg" alt="" class="img">
            <div>
                <div class="inputArea">
                    <img src="assets/email.svg" alt="Image de usuário ">
                    <input placeholder="Email" type="email">
                </div>
                <div class="inputArea">
                    <img src="assets/lock.svg" alt="Image de usuário ">
                    <input placeholder="Senha" type="password">
                </div>
                <button><a href="pedido">Login</a></button>
            </div>

            <p>Não possui um login ?</p>
            <a href="/cadastro" class="hover-underline-animation">Cadastre-se</a>
        </div>
    </section>
</body>

</html>