<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/hover/hoverStyles.css">
        <link rel="stylesheet" href="/styles/hover/buttonStyles.css">
        <link rel="stylesheet" href="/styles/pedido.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
        <title>Pedido | Paula Doces</title>
    </head>

    <body>
        <div id="popUp">
            <div>
                <h1>Pedido feito com sucesso!</h1>
                <img src="../../assets/joia.png" alt="imagem de comida gostosa">

                <section id="btn">
                    <p>Pagamento do pedido feito na entrega...</p>
                    <a href="">
                        <button onclick="closePopUp()">Voltar</button>
                    </a>
                </section>
            </div>
        </div>
        <div class="content"> 
            <header>
                <img src="../../assets/paulaLogo.svg" alt="">
                <div>
                    <a class="hover-underline-animation" href="/">Voltar</a>
                    <div id="line"></div>
                    <a class="hover-underline-animation" href="pedido">Pedido</a>
                    <div id="line"></div>
                    <a class="hover-underline-animation" href="cardapio">Cardápio</a>
                </div>
                <img style="opacity: 0;" src="../../assets/paulaLogo.svg" alt="">
            </header>
            <main>
                <section>
                    <div id="area">
                        <h1>Faça o seu pedido</h1>
                        <form action="">
                            <div id="firstInput">
                                <p>Pedido :</p>
                                <input type="text" placeholder="Digite o pedido e a quantidade...">
                            </div>
                            <div class="formsInput">
                                <div>
                                    <p>Telefone :</p>
                                    <input id="telefone" style="width: 73%;" type="text" placeholder="(00) 0000-0000">
                                </div>
                                <div>
                                    <p>Endereço :</p>
                                    <input style="width: 73%;" type="text" placeholder="Seu endereço...">
                                </div>
                                <div>
                                    <p>Complemento :</p>
                                    <input style="width: 63%;" type="text" placeholder="Casa...">
                                </div>
                                <div>
                                    <p>Data de entrega :</p>
                                    <input style="width: 63%;" type="date" min="inputDate()">
                                </div>
                            </div>

                            <button type="button" onclick="sendRequest()">Finalize seu pedido</button>
                        </form>
                    </div>
                </section>
            </main>
        </div>
    </body>

    <script>
        {
            function sendRequest() {
                document.getElementById("popUp").style.display = "block";
            }

            function closePopUp() {
                document.getElementById("popUp").style.display = "none";
            }

            $("#telefone, #celular").mask("(00) 00000-0000");
        }
    </script>

</html>