<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Resposta do Formulário do Spring</title>
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Formulário preenchido:</h1>
            <h2 th:text="${mensagem1}"></h2>
        </div>
        <p></p>
        <div>
            <a href="index.html">Voltar para Home</a>
        </div>
    </body>
</html>
