<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/sobre.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/hover/hoverStyles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Sobre nós | Paula doces</title>
</head>

<body>
    <main>
        <div id="content">
            <section>
                <button>
                    <span class="material-symbols-outlined md-36">
                        arrow_back
                    </span>
                    <a href="/">voltar</a>
                </button>

                <div>
                    <div id=ball></div>
                    <h1>Paula doces & Sabores</h1>
                </div>

                <p id="text">A Paula Doces & Sabores é uma confeitaria, localizada na região leste da cidade de São
                    Paulo, criada em maio de 2020.
                    O "carro chefe" da confeitaria é o bolo de festa, no qual cada cliente pode escolher o sabor
                    disponivel no nosso cardapio virtual.
                </p>
            </section>
            <div>
                <img src="../../../assets/cake.svg" alt="Bolo bonito e grande">
                <p>Alegrando o aniversário de todos !!</p>
            </div>
        </div>
    </main>
</body>

</html>