@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;500;600;700&family=Red+Hat+Text:wght@400;500;600;700&display=swap');

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../assets/Login.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section {
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

section div#login {
    width: 55%;
    height: 70%;
    background: linear-gradient(rgba(68, 217, 227, 1),
            rgba(49, 208, 219, 1),
            rgba(15, 173, 184, 1),
            rgba(18, 122, 129, 1));
    border-radius: 25px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.244);

    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

section div#login div {
    width: 80%;
    height: 45%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}

section div#login div div.inputArea {
    width: 85%;
    height: 17%;
    border-radius: 30px;
    background-color: #d9d9d9b5;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

section div#login div div.inputArea img {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

section div#login div div.inputArea input {
    width: 70%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0);

    color: #000;
    border: none;
    font-size: 18px;
    font-weight: 500;

    margin-left: 1.2rem;
}

section div#login div button {
    width: 40%;
    height: 15%;

    border-radius: 20px;
    border: none;

    background-color: #fff;

    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #F193C0;

    text-transform: uppercase;
    letter-spacing: 2px;

    transition: 0.5s;
}

section div#login div button:hover {
    background-color: #F193C0;
    color: #fff;
}

section div#login a,
section div#login p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

section div#login p {
    color: #fff;
}

section div#login a {
    color: #FFD8EB;
    text-decoration: none;
}

section div#logo{
    width: 55%;
    height: 5%;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

section div#logo h3 {
    width: 25%;
    text-align: center;

    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

section div#logo div#ball {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50px;
    margin-left: 0.5rem;

    background-color: #E1A7C3;
}
