body {
    background: url('../../assets/BolosBack.svg') no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

body .content {
    width: 75vw;
    height: auto;

    display: flex;
    flex-direction: column;
}

body .content header {
    width: 100%;
    height: 13vh;

    display: flex;
    justify-content: space-between;
}

body .content header img {
    width: 12%;
}

body .content header div {

    width: 30%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

#line {
    width: 1px;
    height: 50%;
    border: #fff solid 1px;
    background-color: #fff;
}

body .content header div a {
    text-decoration: none;

    color: #fff;
    font-size: 1.25rem;

    font-family: 'Poppins', sans-serif;

    padding: 5px 0px;
}

body .content h1 {
    color: #fff;
    margin: 10vh auto 0px;
    font-family: 'Poppins', sans-serif;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

body .content h1 span {
    font-size: 3rem;
    margin-left: 1rem;
}

body .content .buttons {
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body .content .buttons button {
    width: 25%;
    font-size: 0.9rem;
    margin-top: 3vh;
}

body .content #salgadosClosed,
body .content #candyClosed,
body .content #cakesClosed {
    overflow: hidden;
    height: 0;
    width: 0;
    opacity: 0;
    transition: height 0.7s, opacity 0.4s ease-in-out;
}

body .content #salgadosClosed.salgadosOpened,
body .content #candyClosed.candyOpened,
body .content #cakesClosed.cakesOpened {
    overflow: visible;
    height: 60vh;
    width: 100%;
    opacity: 1;
    transition: height 1s, opacity 1s ease-in-out;

    margin: 5vh 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body .content #salgadosClosed.salgadosOpened button,
body .content #candyClosed.candyOpened button,
body .content #cakesClosed.cakesOpened button {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}

body .content #salgadosClosed.salgadosOpened img,
body .content #candyClosed.candyOpened img,
body .content #cakesClosed.cakesOpened img {
    width: 100%;
    height: 100%;
}

body .content #salgadosClosed button:hover,
body .content #candyClosed.candyOpened button:hover,
body .content #cakesClosed.cakesOpened button:hover {
    transform: scale(1.3);
}

body .content #candyClosed.candyOpened h3,
body .content #salgadosClosed h3,
body .content #cakesClosed h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}

body .content #salgadosClosed div,
body .content #candyClosed.candyOpened div,
body .content #cakesClosed div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body .content #salgadosClosed .quantidade,
body .content #candyClosed.candyOpened .quantidade,
body .content #cakesClosed .quantidade {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body .content #salgadosClosed .quantidade div,
body .content #candyClosed.candyOpened .quantidade div,
body .content #cakesClosed .quantidade div {
    height: 7vh;
    width: 20%;
    margin-top: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body .content #salgadosClosed. .quantidade div input
body .content #candyClosed.candyOpened .quantidade div input,
body .content #cakesClosed .quantidade div input {
    border: none;
    border-radius: 0.4rem;
    height: 1.5rem;
}

body .content #salgadosClosed .quantidade div p,
body .content #candyClosed.candyOpened .quantidade div p,
body .content #cakesClosed .quantidade div p {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}