@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Red+Hat+Display:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;500;600;700&family=Red+Hat+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background: url('../../assets/BolosBack.svg') no-repeat;
    background-size: cover;
}

header,
#headerContent {
    display: flex;
    flex-direction: row;
}

header {
    width: 100vw;
    height: 13vh;
    justify-content: center;
}


#headerContent {
    width: 85vw;
    height: 100%;
    justify-content: space-between;
}


header #headerContent .teste {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

header #headerContent .teste img {
    width: 50%;
}

header #headerContent nav {
    width: 45%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #headerContent div h3 {
    color: white;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    width: 40%;
    text-align: center;
}

header #headerContent nav div {
    margin-left: 2rem;
    width: 65%;
}

header #headerContent nav div ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #headerContent nav div ul li {
    list-style-type: none;
    transition: 0.5s;
    padding: 1rem;
    cursor: pointer;
}

header #headerContent nav div ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

header #headerContent nav button {
    width: 20%;
    height: 40%;

    background-color: #44d8e300;
    border: 1px solid #000;
    border-radius: 5px;

    color: #000;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 6px;

    transition: 0.3s;
    cursor: pointer;
}

header #headerContent nav button:hover {
    transform: scale(1.1);
}


header #headerContent nav div ul li:hover {
    transform: scale(1.1);
}

body section {
    width: 100vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body section h1 {
    font-size: 56px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;

    width: 50%;
    text-align: center;
}

body section #banner {

    margin-top: 1.5rem;
}

body section #banner,
body section button p {
    color: #FFF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

body section button {
    width: 14%;
    height: 20%;
    background: linear-gradient(90deg, rgba(225, 167, 195, 1), rgba(208, 154, 180, 1));
    border: none;
    border-radius: 15px;

    margin-top: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: 0.7s;

    box-shadow: 2px 2px 10px 0px rgb(0, 0, 0, 0.3);
}

body section button:hover {
    background: rgba(225, 167, 195, 0);
    border: 3px solid rgba(225, 167, 195, 1);
    transform: scale(1.1);
}